body { 
    margin: 0 0 20 0;
    min-width: 200px;
    min-height: 400px;
    overflow: hidden;
}

#pageContent {
    overflow: scroll;
    width: 100%;
    height: 90%;
    padding-bottom: 50px;
}

#topBar {
    border-bottom: solid grey; 
    position: sticky;
    width: 100%;
    height: 50px;
    min-width: 800px;
    overflow: hidden;
    top: 0;
}

#appName {
    font-size: 24pt;
    font-weight: bolder;
    padding: 10;
    float: left;
}

#simControls {
    border-left: solid;
    border-color: grey;
    float: right;
    min-width: 500px;
    overflow: hidden;
}

#simControls> .sliderContainer {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

/* container for mini-map and zoomView */
#viewsContainer {
    position: relative;
    top: 0;
    margin: 10px;
}

.sliderContainer {
    display: inline-block;
    margin: auto;
}

.sliderContainer>input {
    width: 4ch;
}

#mapSizeContainer>input{
    width: 8ch;
}